.classification{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
}

.field-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.field{
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: row;*/
}

