<div class="classification">
  <h1>{{method.name}}</h1>
  <div>
    <ul class="field-container">
      <div *ngFor="let argument of method.argumentsOfMethod" class="field">
        <li *ngIf="argument.type === 'string'">
          <div class="md-form">
            <input mdbInput type="text" id="{{argument.name}}" class="form-control">
            <label for="{{argument.name}}" class="">{{argument.name}}</label>
          </div>
        </li>
        <li *ngIf="argument.type === 'number'">
          <div class="md-form">
            <input mdbInput type="number" id="{{argument.name + 'number'}}" class="form-control">
            <label for="{{argument.name + 'number'}}" class="">{{argument.name}}</label>
          </div>
        </li>
        <li *ngIf="argument.type === 'boolean'" class="boolean">
          <mdb-checkbox [default]="true">{{argument.name}}</mdb-checkbox>
        </li>
      </div>
    </ul>
  </div>
</div>
<!--  <p *ngFor="let i of numbers">{{i}}</p>-->


